<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlesto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" >
    </uses-permission>

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/th"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Detail_activity"
            android:label="@string/detail_activity"
            android:parentActivityName="com.example.googlesto.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.support.v7.app.ActionBarActivity" />
        </activity>
        <meta-data android:value="c8c93f0c9b33e54d86b3d25c7d6890d2" android:name="BUG_HD_SDK_GENERAL_KEY" />
    </application>

</manifest>